$toolbar-padding: 8px 32px;
$header-bg: #fff7eb;
$on-primary-container: #f5f5f5;
$on-secondary-container: #0f0f0f;
$black: #0f0f0f;
$primary: #337566;
$not-promoted-text: #6b6b6b;
$hidden: #bd3223;
$product-info-container: #1b1d2299;
$on-product-info-container: #f5f5f5;
$select: #ededed;
$on-select: #0f0f0f;
$select-main-category: #6b6b6b;
$agent-container: #f5f5f5;
$on-agent-container: #0f0f0f;
